.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


.buttons{
    margin-bottom: 30px;
}
.buttons button {
    margin-right: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #c7c5c5;
}
.buttons button:hover{
    border: 2px solid black;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


.main-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.side-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.side-images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.side-images img:hover {
    transform: scale(1.1); /* Zoom in efekt na hover */
}

/* Postavljamo visinu za slike 2, 3 i 6 */
.side-images .img2,
.side-images .img3,
.side-images .img6 {
    height: 200px; /* Postavljamo visinu na 300 piksela ili drugu željenu vrijednost */
}

/* Zaobljenje slika */
.side-images img {
    border-radius: 10px;
}

.side-images a img:hover {
    transform: scale(1.1); /* Zoom in efekt na hover */
}

.section {
    margin-bottom: 20px;
    
}

.section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-left: 5px solid #ccc;
    padding-left: 10px;
}

.section p {
    margin: 0;
    line-height: 1.5;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 50px;
}

.amenity {
    display: flex;
    flex-direction: column; /* Stavlja slike iznad teksta */
    align-items: center;
    gap: 10px;
    text-align: center; /* Centrira tekst */
    width: 10%;
    font-size: 14px;
}

.amenity img {
    width: 40px;
    object-fit: cover; /* Održava omjer slike */
    border-radius: 10px; /* Zaobljuje sliku */
    transition: transform 0.3s ease; /* Tranzicija za zoom efekt */
}

.details {
    padding: 20px 0;
    font-size: 14px;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.detail {
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
}

.detail span {
    font-weight: bold;
}



.section2,.section-property,.section-check{
    display: flex;
    background-color: #f0eded;
    height:200px;
    padding: 30px;
    border-radius: 10px;
}

.section2 h3, .section-property h3, .section-check h3 {
    width: 180px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px; /* Razmak desno od naslova */
    border-right: 3px solid #989696; /* Desni border */
    padding-right: 20px; /* Razmak između teksta i granice */
    white-space: nowrap; /* Sprječava prelazak teksta u novi red */
    line-height: 1.5; /* Postavlja liniju na visinu*/
}

