.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}


.buttons {
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 20px;
}

.buttons button {
    color: black;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    background-color: white;
    position: relative; /* Za pozicioniranje pseudo-elementa */
}

.buttons button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgb(226, 226, 226); /* Prozirni obrub koji neće utjecati na veličinu */
    border-radius: 5px;
    pointer-events: none; /* Osigurava da pseudo-element ne ometa klikove */
}

.buttons button:hover::before {
    border-color: black; /* Postavljanje boje obruba prilikom hover-a */
}





.content {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}


.main-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.side-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.side-images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.side-images img:hover {
    transform: scale(1.1); /* Zoom in efekt na hover */
}

/* Postavljamo visinu za slike 2, 3 i 6 */
.side-images .img2,
.side-images .img3,
.side-images .img6 {
    height: 200px; /* Postavljamo visinu na 300 piksela ili drugu željenu vrijednost */
}

/* Zaobljenje slika */
.side-images img {
    border-radius: 10px;
}

.side-images a img:hover {
    transform: scale(1.1); /* Zoom in efekt na hover */
}

.section {
    margin-bottom: 20px;
    
}

.section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-left: 5px solid #ccc;
    padding-left: 10px;
}

.section p {
    margin: 0;
    line-height: 1.5;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 50px;
}

.amenity {
    display: flex;
    flex-direction: column; /* Stavlja slike iznad teksta */
    align-items: center;
    text-align: center; /* Centrira tekst */
    width: 10%;
    font-size: 14px;
}

.amenity img {
    width: 40px;
    object-fit: cover; /* Održava omjer slike */
    border-radius: 10px; /* Zaobljuje sliku */
    transition: transform 0.3s ease; /* Tranzicija za zoom efekt */
}
.amenity p{
    font-size: 12px;
}

.details {
    padding: 20px 0;
    font-size: 14px;
}



.detail {
  height: 30px;
}

.detail span {
    font-weight: bold;
}



.section2,.section-property,.section-check{
    display: flex;
    background-color: #f0eded;
    height:300px;
    padding: 30px;
    border-radius: 10px;
}

.section2 h3, .section-property h3, .section-check h3 {
    width: 180px;
    font-size: 14px;
    font-weight: bold;
     /* Razmak desno od naslova */
    border-right: 3px solid #989696; /* Desni border */
    padding-right: 20px; /* Razmak između teksta i granice */
    white-space: nowrap; /* Sprječava prelazak teksta u novi red */
    line-height: 1.5; /* Postavlja liniju na visinu*/
}
.section2 p, .section-property p, .section-check p {
    font-size: 14px;
    padding-left: 20px;
}


.amenity2 {
    display: flex;
    flex-direction: row; /* Stavlja slike iznad teksta */
    align-items: center;
    text-align: center; /* Centrira tekst */
    font-size: 14px;
    height: 30px;
    margin-top: 10px;
}
.amenity2 img{
    width: 25px;
    padding-right: 5px;
    object-fit: cover; /* Održava omjer slike */
    border-radius: 10px; /* Zaobljuje sliku */
    transition: transform 0.3s ease; /* Tranzicija za zoom efekt */
}
.amenity2 span{
    font-size: 12px;
}
.amenities2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 50px;
    padding-left: 20px;
}

.ul-ikone{
    list-style-type: none;
    padding: 18px;
    margin: 0px;
}
.unit-ikone{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}
.unit-ikone img{
    width: 20px;
}

.section-check h4 {
    width: 180px;
    font-size: 14px;
    font-weight: bold;
     /* Razmak desno od naslova */
    padding-left: 20px;
    white-space: nowrap; /* Sprječava prelazak teksta u novi red */
    line-height: 1.5; /* Postavlja liniju na visinu*/
    margin-bottom: 0px;
}





.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}


.fc .fc-toolbar-title {
    font-size: 18px;
    font-weight: bold;
}

.fc button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.fc button:hover {
    background-color: #0056b3;
}

#map-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}
.fc-dayGridDay {
    font-size: 12px; /* Prilagodi veličinu fonta unutar dana */
    padding: 0px; /* Dodaj prostor unutar ćelije */
}

#calendar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 50px;
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid rgb(139, 139, 139);
    
}

#map {
    height: 600px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 50px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 0;
}

@media (max-width: 1199px){
    .content{
        width: 90%;
    }
    .amenities{
        flex-wrap: nowrap;
    }

}

@media (max-width: 991px) {
    .container{
        width: 100%;
    }
    .image-gallery{
        width: 100%;
    }
    
    .section2, .section-property, .section-check {
        padding: 20px;
    }

    .buttons {
        font-size: 12px;
    }
    .side-images{
        grid-template-columns: repeat(3, 1fr);
    }
    .amenities {
        flex-wrap: nowrap;
    }
    .amenity img {
        width: 30px;
    }
    .content{
        width: 100%;
    }
    #media-check{
        width: 950px;
    }
    #media-check h3{
        width: 180px;
        
    }
    #div-ikona{
        width: 180px;
    }
    
    #nediaheckin{
        display: flex;
        
    }
    #nediaheckin h3{
        border-right: 3px solid #989696;
        width: 200px;
        width: 180px;
        font-size: 14px;
    }
    #nediaheckin p{
        padding-left: 20px;
    }
    #map{
        width: 80%;
    }
}

@media (max-width: 767px) {

    body,main{
        width: 100%;
    }
    .container{
        width: 100%;
    }

    .side-images{
    grid-template-columns: repeat(3, 1fr);
    }
    .amenities {
        flex-wrap: wrap;
    }
    .amenities2{
        gap: 20px;
    }
    .amenity{
        height: 50px;
    }
    .section2, .section-property, .section-check {
        flex-direction: column;
        height: 350px;
        padding: 30px;
    }
    .section2 h3, .section-property h3, .section-check h3{
        border-right: none;
        border-bottom: 3px solid #989696;
        padding-bottom: 10px;
    }
    .section2 p, .section-property p, .section-check p {
        font-size: 12px;
    }
    .amenity2 img{
        width: 20px;
    }
    .section-check {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .ul-ikone {
        display: inline-block;
    }

    #media-check{
        display: inline;
        
    }
  
     #div-ikona{
        display:inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        
     }
    
    /*.div-ikona{
        margin-top: 40px;
        margin-left: -200px;
        margin-right: 200px;
    }*/


    #nediaheckin{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 200px;
    }
    #nediaheckin h3{
        border-bottom: 3px solid #989696;
        border-right: none;
        width: 200px;
        padding-bottom: 10px;
    }

    #calendar {
       height: 450px;
       padding: 20px;
       margin: 0 auto;
       margin-top: 20px;
    }
    #map{
        height: 500px;
        width: 90%;
    }
    
}

/* Ostala CSS pravila ostaju ista */

/* Pravila za male ekrane */
@media (max-width: 575px) {
    .container {
        
        padding: 10px;
    }
    
    .buttons {
        display: flex;
        margin-top: 10px;
        gap: 10px;
        margin-bottom: 15px;
    }

    .buttons button {
        margin: 0;
        margin-bottom: 10px;
        padding: 8px;
        font-size: 12px;
        border: 1px solid rgb(113, 112, 112);
    }
    
    .content {
        width: 100%;
        padding: 10px;
    }

    .side-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .side-images img {
        width: 100%;
        height: 100%;
    }
    
    .section {
        margin-bottom: 15px;
    }

    .section h3 {
        font-size: 14px;
        margin-bottom: 8px;
        padding-left: 8px;
    }

    .section p {
        font-size: 12px;
        padding: 8px;
    }

    .amenities{
        flex-wrap: nowrap;
        gap:20px;
        margin-bottom: 50px;
    }

    .amenity {
        width: 100%;
        font-size: 12px;
    }
    .amenity p{
        font-size: 10px;
    }

    .amenity img {
        width: 30px;
        margin-bottom: 5px;
    }

    .details {
        padding: 10px 0;
        font-size: 12px;
    }

    .section2, .section-property, .section-check {
        flex-direction: column;
        padding: 15px;
        padding-bottom: 30px;
        font-size: 12px;
        margin-top:30px;
        margin-bottom: 30px;
        height: 350px;
        width:100%;
    }

    .section2 h3, .section-property h3, .section-check h3 {
        width: 80%;
        border-right: none;
        border-bottom: 3px solid #989696;
        padding-bottom: 10px;
        margin-bottom: 10px;
        height: 40px;
    }

    .section2 p, .section-property p, .section-check p {
        padding-left: 0;
        font-size: 10px;
    }
    #nediaheckin p{
        padding: 0px;
    }

    .amenity2 {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .amenity2 img {
        width: 20px;
        padding-right: 0;
    }

    .amenity2 span {
        font-size: 10px;
    }

    .amenities2 {
        gap: 20px;
        
    }

    .ul-ikone {
        padding: 10px;
        display: inline-block;
    }

    #media-check{
        display: inline;
        
    }
  
     #div-ikona{
        display:inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        
     }

    

    .section-check h4 {
        font-size: 12px;
        padding-left: 0;
    }

   /* #unit-details{
        flex-direction: row;
        justify-content: flex-start;
    }

    
    #unit-details ul{
        padding-right: 5px;
        height: 100%;
    }*/

    #unit-details{
        display: inline;
    }

    .calendar-container {
        width: 100%;
        padding: 10px;
    }

    #calendar {
        width: 90%;
        padding: 20px;
        height: 380px;
    }
    

    #map {
        height: 400px;
        
        padding: 0 10px;
    }
}

