body{
    font-family: "Lora", "LatoWebBold", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    
}




.full-width-div {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 28, 28); /* Možeš promijeniti boju po potrebi */
    color: white;
    margin-top: -8px;
    margin-bottom: 30px;
}

.full-width-div h3 {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.full-width-div h3::before,
.full-width-div h3::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 70%;
    height: 2px;
    background-color: #ccc; /* Možeš promijeniti boju po želji */
}

.full-width-div h3::before {
    left: -80%;
}

.full-width-div h3::after {
    right: -80%;
}


.full-width-div {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #64abf8; /* Možeš promeniti boju po potrebi */
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}


table {
    width: 40%;
    margin: 0 auto; /* Centriranje tablice */
    border-collapse: collapse;
    margin-bottom: 50px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
td{
    font-size: 12px;
}

th {
    background-color: #f2f2f2;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}



.full-width-div-2 {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d6d5d5; /* Možeš promeniti boju po potrebi */
    color: black;

}
 .full-width-div-2 p {
    margin: 0; /* Uklanja margine */
    max-width: 600px; 
    text-align: center;
    font-size: 12px;
}
.btn{
    text-decoration: none;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #64abf8;
    background-color: #64abf8;
    color: white;
    font-size: 14px;
}



.section {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0eded;/* Dodana tamna pozadina */
    border-radius: 10px; /* Zaobljene ivice */
    color: black;
    margin: 50px auto;
    overflow: hidden; /* Obezbeđuje da unutrašnji sadržaj ne prelazi granice roditeljskog elementa */
    
}

.section .text {
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    
}

.section .image {
    flex: 1;
    text-align: right;
    margin: 0; /* Uklanja margine */
    padding: 0;
    height: 100%; /* Obezbeđuje da roditeljski element zauzme svu visinu */
}

.section .image img {
    width: 100%;
    height: auto; /* Sprečava da slika bude izobličena */
    object-fit: cover; /* Održava proporcije slike i pokriva ceo prostor */
    border-radius: 20px; /* Zaobljene ivice slike koje odgovaraju roditeljskom elementu */
    display: block; /* Uklanja dodatni prostor ispod slike */
}

.section .text h2 {
    margin-bottom: 20px;
    color: black;
    font-size: 18px;
}
.section .text p{
    font-size: 14px;
}
.section .text ul li{
    font-size: 14px;
}







.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}


.fc-toolbar-title {
    font-size: 25px !important; 
    font-weight: bold;
}

.fc button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 4px 4px !important;
    border-radius: 5px;
    cursor: pointer;
}

.fc button:hover {
    background-color: #0056b3;
}

#map-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}


#calendar {
    height: 545px !important;
    overflow: hidden !important;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 50px;
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid rgb(139, 139, 139);
    
}




/* Spriječi scrollanje unutar kalendara */
.fc .fc-scroller-liquid-absolute,
.fc .fc-scroller-harness,
.fc .fc-scroller {
  overflow-y: hidden !important;
  max-height: none !important;
}
.fc .fc-col-header { 
    margin: 0 !important; 
    
}












@media (max-width: 1199px){

    table{
        width: 50%;
    }
}


@media (max-width: 991px) {

    table{
        width: 60%;
    }
    .section .text p {
        font-size: 12px;
    }
    ul li {
        font-size: 12px;
    }



}

@media (max-width: 767px) {

    table{
        width: 65%;
    }
    .section{
        flex-direction: column;
    }
    
    .section .image {
        order: -1; /* Pomeranje slike iznad teksta */
        text-align: center;
        width: 100%;
    }
    .section .text{
        padding-top: 15px;
    }


     #calendar {
       height: 450px;
       padding: 20px;
       margin: 0 auto;
       margin-top: 20px;
    }

}

@media(max-width:575px){
    * {
        box-sizing: border-box;
    }
    .full-width-div{
        height: 60px;
    }

    table{
        width: 85%;
    }
    th{
        font-size: 14px;
    }
    td{
        font-size: 10px;
    }

    .section{
        margin: 0px auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }




     .calendar-container {
        width: 100%;
        padding: 10px;
    }

    #calendar {
        width: 90%;
        padding: 20px;
        height: 370px;
    }



     /* Prilagodba gumbova desno od h2 */
    .fc-toolbar button {
        font-size: 10px !important; /* Smanji veličinu fonta gumbova */
        padding: 3px !important; /* Prilagodi padding za gumbe */
    }

    /* Prilagodba za bolji raspored gumba i naslova h2 */
    .fc-toolbar-title {
        font-size: 14px !important; /* Smanji veličinu naslova */
    }
}

