.full-width-div {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 28, 28); /* Možeš promijeniti boju po potrebi */
    color: white;
    margin-top: -8px;
    margin-bottom: 30px;
}

.full-width-div h3 {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.full-width-div h3::before,
.full-width-div h3::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 70%;
    height: 2px;
    background-color: #ccc; /* Možeš promijeniti boju po želji */
}

.full-width-div h3::before {
    left: -80%;
}

.full-width-div h3::after {
    right: -80%;
}


.full-width-div {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #419bfc; /* Možeš promeniti boju po potrebi */
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}


table {
    width: 40%;
    margin: 0 auto; /* Centriranje tablice */
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
td{
    font-size: 12px;
}

th {
    background-color: #f2f2f2;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
