
header {
    display: flex;
    background-color: rgb(30, 28, 28);
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-left: 40px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.naslov {
    margin-left: 30px;
}

.logo {
    width: 140px;
    height: 80px;
}

.lista {
    width: 600px;
    font-size: 16px;
}

.lista ul {
    list-style-type: none;
    padding-left: 0px;
}

.lista ul li {
    display: inline-block;
    padding-right: 40px;
    font-weight: bold;
}

.header-link {
    text-decoration: none;
    color: white;
    position: relative;
    padding-bottom: 10px;
}

.header-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: width 0.5s;
}

.header-link:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin-bottom: 4px;
    border-radius: 5px;
}
.close-menu{
    display: none;
}

/* Media Queries */



@media (max-width: 991px) {
    
    
    .naslov {
        margin-left: 20px;
    }

    .logo {
        width: 120px;
        height: 60px;
    }

    .lista {
        width: 550px;
        font-size: 14px;
    }
    
}

@media (max-width: 767px) {
    
    
    .naslov {
        margin-left: 10px;
    }
    
    .logo {
        width: 120px;
        height: 60px;
    }
    
    .lista {
        width: 450px;
        font-size: 12px;
    }
    .lista ul li {
        padding-right: 20px;
    }
        
}




@media (max-width: 575px) {

    header{
        padding: 0px;
    }

    .naslov {
       margin: 0 auto;
    }

    .hamburger {
        display: flex;
    }

    .lista {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        width: 80%;
        background-color: rgb(30, 28, 28);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease-in-out;
    }

    .lista ul {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .lista ul li {
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
    }

    .lista.active {
        right: 0;
    }

    .close-menu{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 30px;
        right: 30px;
        font-size: 30px;
        padding-right: 20px;
    }
}
