header{
    display: flex;
    background-color: rgb(30, 28, 28);
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-left: 40px;
    padding-right: 20px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.naslov{
    margin-left: 30px;
}
.logo{
    width:105px;
}



.lista{
    width: 500px;
    font-size: 16px;
}
.lista ul {
    list-style-type:none;
    padding-left: 0px;
}

.lista ul li{
    display: inline-block;
    padding-right: 40px;
    font-weight: bold;
}

.header-link {
    text-decoration: none;
    color: white;
    position: relative; /* Potrebno za pseudo-element */
    padding-bottom: 10px; /* Prostor ispod teksta za animaciju bordera */
}

.header-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: width 0.5s; /* Tranzicija širine za 0.5 sekundi */
}

.header-link:hover::after {
    width: 100%;
}